/* Colour codes to be used for css
Background
    Red - #E9BCD7;
    Yellow - #FEF5A5;
    Blue Navigation Bar - #AAE3F7;
*/

/* Matt - font for website */
body {
    font-family: 'Rubik', sans-serif;
}


/*Abi - Disclaimer Modal*/
.modal {
	display: none; 
	position: fixed; 
	padding-top: 70px; 
	left: 0;
	top: 0%;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: #6D8981; 
	background-color: rgba(0,0,0,0.4);
}

.modal1 {
	display: none; 
	position: fixed; 
	padding-top: 70px; 
	left: 0;
	top: 0%;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(85, 75, 71); 
	background-color: rgba(0,0,0,0.4);
}

/* Content of Modal*/
.DisclaimerContent {
    background-color: #6D8981;
	margin: auto;
	padding: 40px;
	padding-top: 5%;
	border: 1px solid #888;
	width: 75%;
	height: 70%;
	font-size: 20px;
    text-align: center;
	border-radius: 25px;
}

.DisclaimerContent p {
    font-size: 30px;
}

/* Close Button*/
.exit {
    color: #ffffff;
	float: right;
	font-size: 60px;

}
.exit:hover, .exit:focus{
    color: rgb(58, 51, 51);
	text-decoration: none;
	cursor: pointer;
} 

/*Disclaimer  Button Block */

.button a {
    background-color: #6D8981;
    display: block;
    padding: 10px;
    width: 100%;
    text-align: center;
    /* Matt - added below to make the disclaimer be at the very top of the page */
    position: absolute;
    top: 0;
    left: 0;
}
.button a:hover {
	background-color: rgb(158, 92, 92);
	color: white;
	cursor: pointer;
}

/*Disclaimer Continue Button */
.DisclaimerContent .ContinueButton{
	display: inline-block;
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding: 0.5em 2em;
	border: 2px solid black;
	border-radius: 5px;
	justify-content: center;
}

.DisclaimerContent .ContinueButton:hover{
	background-color: black;
	color: white;
	
	cursor: pointer;
}


/*Garry*/
/*Learning Mode*/
#learningBody{
    margin: 0;
    background-color: #AAE3F7;
}

/* #disclaimer{
    text-align: center;
    width:100%;
    background-color: #e2bbb4;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
} */

#learningHeader{
    text-align: center;
    font-size: 4vw;
    margin-top: 40px;
}

#learning-exit {
    color: black;
	float: right;
	font-size: 7vw;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

#learning-exit:hover, #learning-exit:focus {
    color: gray;
	text-decoration: none;
	cursor: pointer;
    transition: 0.3s;
} 

#learningPicture{
    width: 50%;
    height:20vw;
    margin-top: 3vw;
    float:left;
    display:inline;
    text-align:right;
}
#picture{
    height:20vw;
}

#learningCard{
    margin-top: 3vw;
    float:left;
    height:12vw;
    width: 30%;
    
    padding-top: 8vw;
    text-align: center;
    font-size: 3vw;
}
.flashcards{
    padding:5vw 10vw 5vw 10vw;
    background-color: #ADD8AF;
}

#learningButtons{
    margin-top: 25vw;
    float: none;
    width:100%;
}
#row{
    text-align: center;
}
.totalWords{
    width:33%;
}

#language{
    font-size:2vw;
}

#HowToPlay{
    margin-top:3vw;
    margin-right: 3vw;
    text-align: right;
}

.flipCard{
        color:black;
}

/*Puzzle Mode*/
#puzzleBody{
    margin: 0;
    background-color: #AAE3F7;
}

#puzzleHeader{
    text-align: center;
    font-size: 4vw;
    margin-top: 40px;
    margin-bottom: 20px;
}

#puzzleQuestion{
    text-align: center;
    width: 30%;
    margin: auto;
    
}

#puzzleEnglishQuestion{
    font-size: 3vw;
    border-radius: 10px;
    background-color: #C8DFD0;
    height:3.5vw;
    margin-bottom: 10px;
}

#answerTarget, #answerSource{
    margin:auto;
    margin-bottom:1vw;
    text-align: center;
    display:flex;
    justify-content: center;
}

#answerSource{
    cursor: grabbing;
}

.blankAnswer{
    background-color: #E4E7E9;
    width:50px;
    height:50px;
    margin: 5px;
    border-radius: 10px;
}
.randomizedWords{
    font-size: 3vw;
    background-color: #A0CDC4;
    width:50px;
    height:50px;
    margin: 5px;
    border-radius: 10px;
}

#checkAnswer{
    text-align:center;
    margin-bottom: 10px;
}
.checkButton{
    padding: 0.5vw 1vw;
    border:none;
    border: 1px #3F875F solid;
    background-color: #C8DFD0;
    text-decoration: none;
    font-size: 2vw;
    cursor:pointer;
}

/* Nisha */
/* Hamburger Icon */
.HambugerLines{
    width:4vw;
    height:1vw;
    margin: 0.5vw;
    background-color: #99D5EF;
}

.HambugerOptions {
  display: none;
  position: absolute;
  min-width: 6vw;
  box-shadow: 5px 2vw 5vw 0vw rgba(0,0,0,0.2);
  z-index: 1;
}

.HambugerOptions a {
  color: black;
  padding: 1.5vw 2vw;
  text-decoration: none;
  display: block;
}

.HambugerOptions a:hover {background-color: #ddd;}

.HambugerIcon:hover .HambugerOptions {display: block;}

/* .HambugerIcon:hover .HambugerButton {}; */

/* Matt - Translation Page */
#translationBody{
    margin: 0;
    background-color: #AAE3F7;
}

#translationHeader{
    text-align: center;
    font-size: 4vw;
    margin-top: 40px;
}

.english {
    text-align: left;
    margin-left: 100px;
}

.kala {
    text-align: right;
    margin-right: 100px;
}

/* Yash */
/* Homepage */

body {
    margin: 0%;
}

.disclaimer {
    background-color: #6C8880;
    display: flex;
}

#disclaimer-link {
    width: 100%;
    text-decoration: none;
    color: #000000;
    font-size: 2vw;
    text-align: center;
}

.logo {
    background: #272F58;
    display: flex;
    justify-content: center;
    margin-top: 37px;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    background: #272F58;
}

.navigation-bar a:hover {
    transition: 0.2s;
    color: gray;
}

.home-button, .about-button, .learn-button, .translation-button, .test-button {
    display: flex;
    align-items: center;
}

.home-button > img, .about-button > img, .learn-button > img, .translation-button > img, .test-button > img{
    width: 3vw;
    height: 3vw;
    margin: 1vw;
}

.home-button > a, .about-button  > a, .learn-button  > a, .translation-button > a, .test-button > a {
    font-size: 2vw;
    text-decoration: none;
    color: #000000;
}

.main-body {
    display: flex;
    flex-direction: column;
}

.summary {
    /* background: linear-gradient(45deg, rgba(
        153, 213, 239, 0.5), rgba(
          153, 213, 239, 0.5)),url(../img/background-image.png); */
    background: #AAE3F7;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    align-items: center;
    
}

.summary > img {
    width: 46vw;
}

.summary > p {
    width: 46vw;
    text-align: justify;
    font-size: 1.5vw;
}

.modes-button {
    background: #a9d4ab;
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
    padding: 1%;
}

.learning-mode-button, .translation-mode-button, .puzzle-mode-button {
    background: white;
    padding: 5%;
    width: 300px;
    display: flex;
    justify-content: center;
}

.learning-mode-button > a, .translation-mode-button > a, .puzzle-mode-button > a {
    color: black;
    text-decoration: none;
    padding: 0%;
    font-size: 2vw;
}

.language-summary {
    background: #fef5a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.language-summary > img {
    width: max-content;
    height: max-content;
}

.language-summary > p {
    text-align: justify;
    width: 50vw;
    font-size: 1.25vw;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #E9BCD7;
}

.footer-home-button > h3 > a, .footer-about-button > h3 > a, .footer-Learn-button > h3 > a, .footer-Translation-button > h3 > a, .footer-Test-button > h3 > a {
    text-decoration: none;
    color: #000000;
}




























/* Matt - About Page */
#about-page {
    background: #AAE3F7;
}

.about-row h1 {
    font-size: 40px;
}

.about-description {
    flex-direction: column;
    width: 725px;
    padding: 2%;
    text-align: justify;
    background: white;
}

.about-description p {
    font-size: 25px;
    line-height: 1.4;
}

.about-image {
    background: white;
    border-style: solid;
    border-width: 1px;
    width: 800px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #AAE3F7;
}

.about-row > section {
    width: 50vw;
}

.references {
    padding: 2%;
    background-color: #a9d4ab;
}

/* Matt - Side Navigation Bar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: gray;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#hamburger {
    position: absolute;
    top: 40px;
    left: 10px;
    float: left;
    font-size: 3.5vw;
}

#hamburger:hover {
    color: gray;
    transition: 0.3s;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }