#homepage, #flashcards, #puzzle, #quiz, #sidenav, #translation, #about, #references {
    font-family: 'Indie Flower';
    background-color: #b0d2bf;
    margin: 0%;
}

#refs {
    margin: 5vw;
}

#refs h1, h2{
    text-align: center;
    line-height: 3vw;
}

#refs h1{
    font-size: 4vw;
}

#refs h2{
    font-size: 2.5vw;
}

#page-header {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 16vw;
    background-image: url('./../images/backgroundLogo.png');
    background-size: 150% 185%;
    background-repeat: no-repeat;
}

#klylogo {
    display: flex;
    width: 20vw;
    height: 3vw;
    align-items: center;  
    margin: 4vw;  
}

#klylogo a > img {
    width: 100%;
}

#klylogo a > img:hover {
    filter: drop-shadow(7px 7px 7px rgb(0, 0, 0));
}

#options {
    width: 74vw;
    height: 80%;
    margin:10px auto;
    padding:5px;
    text-align:center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

#options figure a > img{
    width: 4.5vw;
    height: 4.5vw;
}

#options figure a > img:hover{
    filter: drop-shadow(8px 8px 8px rgb(0, 0, 0));
}

/* interaction navbar */
#interactHeader {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12vw;
    background-color: white;
    border-bottom: #547C9A solid 10px;
}

#interactLogo {
    display: flex;
    width: 20vw;
    height: 3.7vw;
    align-items: center;  
    margin: 4vw;  
}

#interactLogo a >img {
    width: 100%;
}

#interactLogo a >img:hover{
    filter: drop-shadow(7px 7px 7px rgb(0, 0, 0));
}

#interactIcon {
    width: 70vw;
    height: 120%;
    right:10px;
    padding:3px;
    text-align:center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

#interactIcon figure a > img{
    width: 4.5vw;
    height: 4.5vw;
}

#interactIcon figure a > img:hover{
    filter: drop-shadow(8px 8px 8px rgb(0, 0, 0));
}

/* Slideshow  */
* {box-sizing: border-box}
.slideImages {display: none}
img {vertical-align: middle;}


.ruler{
    position: absolute;
    left:48vw;
    max-width: 30%;
    max-height: 65%;
    top: 20%;
}

.pencil{
    position: absolute;
    right:48vw;
    max-width: 30%;
    max-height: 65%;
    top: 20%;
}

.slideshow-container {
    padding-top: 2vw;
    width: 50%;
    position: relative;
    margin: auto;
}

.slideshow-container img{
    width: 49.5vw;
    height: 35vw;
    object-fit: cover;
}


.leftButton, .rightButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  background-color: #648B7F;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.rightButton {
  right: 7px;
  border-radius: 3px 0 0 3px;
}

.leftButton:hover, .rightButton:hover {
  background-color:  rgba(56, 113, 167, 0.9);
}

.descriptionImage{
    max-width: 55%;
    position: absolute;
    max-height: 50%;
    left:0;
    transform: translateY(-100%);
    color:black;
    background-color: rgba(56, 113, 167, 0.9);
    padding: 1%;
}

.descriptionImage h5{
    font-size: 2vw;
    font-weight: bold;
    color: white;
    padding: 0px;
    margin: 0px;
  
}


.descriptionImage p{
    font-size: 1vw;

}


.imagesLeft {
  color: black;
  background-color:#648B7F ;
  font-size: 1vw;
  padding: 0.5vw;
  position: absolute;
  transform: translateY(120%);
  top: 0;
  left:0;
}


.imagePosition {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .imagePosition:hover {
  background-color: rgba(56, 113, 167, 0.9);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .leftButton, .rightButton,.text {font-size: 11px}
}

/*Disclaimer*/
.modal {
	display: none; 
	position: fixed; 
	padding-top: 70px; 
	left: 0;
	top: 0%;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: #3d724d; 
	background-color: rgba(0,0,0,0.4);
    z-index: 2;
}

/* Content of Modal*/
.DisclaimerContent {
    background-color: #b0d2bf;
	margin: auto;
	border: 1px solid #888;
	width: 75%;
	height: 80%;
	font-size: 2vw;
    text-align: center;
	border-radius: 25px;
}

.DisclaimerContent p {
    font-size: 1.5vw;
    padding-left: 4%;
    padding-right: 4%;

}

/* Close Button*/
.exit {
    color: #ffffff;
	float: right;
	font-size: 60px;
	font-weight: bold;
}
.exit:hover, .exit:focus{
    color: rgb(58, 51, 51);
	text-decoration: none;
	cursor: pointer;
} 

/*Disclaimer  Button Block */
.button a {
    background-color: #588c7e;
    display: block;
    padding: 5px;
    width: 100vw;
    text-align: center;
}

.button a:hover {
	background-color: #588c7ebb;
	color: white;
	cursor: pointer;
}

/*Disclaimer Continue Button */
.DisclaimerContent .ContinueButton{
	display: inline-block;
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding: 0.5em 2em;
	border: 2px solid black;
	border-radius: 5px;
	justify-content: center;
    font-size: 20px;
    font-family: inherit;
}

.DisclaimerContent .ContinueButton:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}

article {
	margin: 2em;
    line-height: 1.5em;
	text-align:justify;
}

.flag_img img {
    margin: 3%;
}

.modes-button {
    margin-top: 5vw;
    background: #b7ccb7;
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
    padding: 1%;
}

.learning-mode-button, .translation-mode-button, .puzzle-mode-button {
    background: white;
    padding: 10%;
    width: 10vw;
    display: flex;
    justify-content: center;
    border-radius: 1.5em;
}

.learning-mode-button:hover, .translation-mode-button:hover, .puzzle-mode-button:hover{
    background: rgb(226, 247, 255);
}


/*Puzzle Mode*/

.puzzelPencil{
    position: absolute;
    right: 69%;
    max-width: 30%;
    top: 51%;

}

.puzzelRuler{
    position: absolute;
    left: 70%;
    max-width: 29%;
    top: 50%;

}

#puzzle-exit {
    color: black;
	float: right;
	font-size: 7vw;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

#puzzle-exit:hover, #learning-exit:focus {
    color: gray;
	text-decoration: none;
	cursor: pointer;
    transition: 0.3s;
}  

#puzzleQuestion img {
    height: 15vw; 
    object-fit: contain;
}

#puzzle{
    margin: auto;
    background-color: #b0d2bf;
    
}


#puzzleQuestion{
    text-align: center;
    width: 50%;
    margin: auto; 
}

#puzzleEnglishQuestion{
    margin-top: 3vw;
    font-size: 4vw;
    border-radius: 10px;
    background-color: #d2d5ec;
    height:5vw;
    margin-bottom: 10px;
}

#answerTarget, #answerSource{
    margin:auto;
    margin-bottom:1vw;
    text-align: center;
    display:flex;
    justify-content: center;
}

#answerSource{
    cursor: grabbing;
}

#answerTarget span{
    background-color: #467e9d;
    width:5vw;
    height:5vw;
    margin: 5px;
    border-radius: 20px;
}
#answerSource span{
    font-size: 4vw;
    background-color: #c4e4f5;
    width:5vw;
    height:5vw;
    margin: 5px;
    border-radius: 20px;
}
#tryAgain{
    text-align: center;
    margin-top:1vw;
    margin-bottom: 1vw;
    font-size: 4vw;
    color:red;
}
#nextPuzzle{
    text-align:center;
    margin-bottom: 10px;
}
.nextButton{
    padding: 0.5vw 1vw;
    border:none;
    border: 1px #3F875F solid;
    background-color: #C8DFD0;
    text-decoration: none;
    font-size: 2vw;
    cursor:pointer;
}

.nextButton:hover{
    border: 1px #C8DFD0 solid;
    background-color: #3F875F;
    color:white;
}

.nextButton:active{
    border: 1px #3F875F solid;
    background-color: #C8DFD0;
    color:black;
}

.notDraggable {
    cursor: not-allowed !important;
    opacity:0.3 !important;
}

#finishMessage {
    margin:auto;
    margin-top:5vw;
    text-align: center;
    color:#272F58;
    animation: fading ease-out 2s;
    
}

@keyframes fading {
    0% {opacity:0;}
    100% {opacity:100%;}
}

#topMessage{
    font-weight: bold;
    font-size:7vw;
}

#botMessage{
    font-size:5vw;
}

#puzzleHere{
    color: #467e9d;
    text-decoration: underline;
}

#puzzleHere:hover{
    color:black;
}

/*Translate Page */
#translationHeader{
    text-align: center;
    font-size: 4vw;
    margin-top: 40px;
}

#translator-box {
    display: flex;
    justify-content: center;
}

#translator {
    display: flex;
    justify-content: space-around;
    width: 1300px;
}

@media only screen and (min-width: 1000px) {
    #translator {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1000px) {
    #translator {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.english, .kala {
    background: white;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    margin-top: 25px;
    background-color: #99D5EF;
    border-radius: 2.5em;
}

.english h2, .kala h2 {
    font-size: 3em;
}

.english input, .kala input {
    width: 500px;
    height: 75px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2em;
}

#translate-button {
    background-color: #d8ecf7;
    border: none;
    color: black;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 0.5em;
    position: relative;
    margin-top: 30px;
}

#translate-button-box {
    display: flex;
    justify-content: center;
}

.word-info {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 200px;
    background: #dbdcdd;
    border-radius: 1.5em;
}

.info-box {
    display: flex;
    justify-content: center;
}

.word-info p{
    font-size: 3em;
}

/* Translate Page Autocomplete Search */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-size: 1.5em;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

/* Translation page */

.translation-heading > h1, .quiz-heading > h1 {
    margin: 1%;
    text-align: center;
    font-size: 5vw;
}

.translation-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.translation-body-button {
    display: flex;
    justify-content: center;
    width: 10%;
    align-items: center;
    flex-direction: column;
}

.translation-body-button > button {
    border: 3px solid green;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Indie Flower';
    background-color: white;
}

.translation-body-button > button > img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}


.translation-body-english, .translation-body-indigenous {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.translation-body-english {
    background: #D2D5EC;
    border: 0px;
    border-radius: 10px;
}

.translation-body-indigenous {
    background: #C4E4F5;
    border: 0px;
    border-radius: 10px;
}


.translation-body-english > h1, .translation-body-indigenous > h1 {
    margin: 2%;
    padding: 2%;
    width: 100%;
    text-align: center;
    border: 0px;
    border-radius: 10px;
    font-size: 2vw;
}

.translation-body-english > form, .translation-body-indigenous > form {
    width: 90%;
}

.translation-body-english input, .translation-body-indigenous input {
    height: 125px;
    font-size: 2vw;
}

#english-word, #indigenous-word {
    border: 0px;
    background: white;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin: 0px;
    resize: none;
    width: 100%;
}

/* Flashcards Page */

.flashPencil {
    position: absolute;
    max-width: 25%;
    top: 35%;
    right: 73%;
}

.flashRuler {
    position:absolute;
    max-width:28%;
    top: 33%;
    left: 73%;
}

#flash {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {
    width: 38vw;
    height: 42vh;
    margin: 20px 0;
    perspective: 800px;
}
  
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
  
.card.is-flipped {
    transform: rotateY(180deg);
}
  
.card__face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38vw;
    height: 42vh;
    line-height: 200px;
    color: black;
    font-size: 5vw;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: auto;
    border-radius: 0.5em;
}

.card__face--front {
    background: #D2D5EC;
}
  
.card__face--back {
    transform: rotateY(180deg);
    background: #C4E4F5;
}

#next_button, #prev_button {
    background-color: white;
    border: none;
    color: black;
    width: 8vw;
    height: 4vw;
    text-align: center;
    display: inline-block;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 0.5em;
    position: absolute;
    font-family: 'Indie Flower';
}

#next_button {
    left: 60vw;
}

#prev_button {
    right: 60vw;
}

#current-language {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}


.englishword, .kalaword {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.englishword img, .kalaword img {
    height: 10vw;
    margin-bottom: 75px;
}

#word-num {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    margin: 5px;
}


/* aboutpage */


#test-about-contents{
font-size: xx-large;
text-align: center;
}

.test-about-description {
    flex-direction: column;
    width: 725px;
    padding: 2%;
    text-align: justify;
    background: white;
    border-radius: 1em;
}

.test-about-description p {
    font-size: 25px;
    line-height: 1.4;
}

.test-about-description1 {
    flex-direction: row;
    width: 100%;
    padding: 4%;
    text-align: justify;
    background: white;
    border-radius: 1em;
    border: 10px solid #547C9A;
}

.test-about-description1 p {
    font-size: 25px;
    line-height: 1.4;
}

.test-about-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #ffffff;
    border-radius: 1em;
    border: 10px solid #547C9A;
}

.test-about-row > section {
    width: 50vw;
    border: 0px !important;
}


#navbar {
    padding: 2vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dae4df;
    position: fixed;
    left: 20%;
 }

#navbar a > img{
    width: 6vw;
    height: 6vw;
}

#navbar a{
    padding: 1.5vw;
}

#navbar a > img:hover{
    filter: drop-shadow(8px 8px 8px rgb(0, 0, 0));
}

.translation-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
}

.translation-info-picture {
    border: solid 1px;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.translation-info-left, .translation-info-picture, .translation-info-right {
    width: 30%;
}

.translation-info-left > img, .translation-info-right > img {
    width: 100%;
}

#picture {
    max-width: 100%;
    height: 20vw;
}

 /*footer*/

footer p {
    font-size: 1.2vw;
}

footer a {
    color: #3d724d;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

footer a:hover {
    color: grey;
}

footer .links ul {
    display: inline;
    list-style: none;
    padding: 0;
}

footer .links ul li a {
    font-size: 1.2vw;
    text-decoration: none;
    display: flex;
    padding: 0.3vw;
}

footer {
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    align-items: flex-start;
}



.contact-form, .links, .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.contact-form > form {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.contact-form .contact-input {
    font-size: 20;
    resize: none;
}

.contact-form > form > button {
    border: 0px;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    background: #b0d2bf;
    color: black;
    font-size: inherit;
}


/*quiz page*/

#quiz-answers {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
}

#a1, #a2, #a3 {
    width: 15vw;
    height: 13vw;
    background: white;
    margin: 0 3vw;
    border-radius: 1em;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

#a1:hover, #a2:hover, #a3:hover {
    border: 2px solid #477E9D;
    cursor: pointer;
    
}

#next-question {
    background-color: white;
    border: none;
    color: black;
    width: 10vw;
    height: 4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    cursor: pointer;
    border-radius: 0.5em;
    font-family: 'Indie Flower';
    margin: 2vw 0;
}

#button-flex {
    display: flex;
    justify-content: center;
}


.quizPencil{
    position: absolute;
    right: 80%;
    max-width: 20%;
    top: 40%;
}


.quizRuler{
    position: absolute;
    left: 80%;
    max-width: 20%;
    top: 40%;
}


.quiz-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-ques {
    min-width: 50%;
    text-align: center;
    background: #AAE3F7;
    border: 0px black solid;
    border-radius: 25px;
    margin: 1%;
}

#question {
    font-size: 3vw;
}

.correct {
    border: 10px solid #3F875F !important;
}

.incorrect {
    border: 10px solid red !important;
}

#option1, #option2, #option3 {
    font-family: 'Indie Flower';
}

/* References Page */
#refs p {
    font-size: 1.2vw;
}